@{
    ViewData["Title"] = "About";
    
}


<h2>COMP2139 - Assignment 1 - GBCSporting_OJO</h2>

<br />

<table class="table table-stripedd">
    <thead class="thead-light">
        <tr>
            <th>Name</th>
            <th>GBC ID</th>
            <th>GBC Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Nabi, Omar</td>
            <td>101339235</td>
            <td><a href="mailto:omar.nabi@georgebrown.ca" target="_blank">omar.nabi@georgebrown.ca</a></td>
        </tr>
        <tr>
            <td>Pereira Barbosa, Otavio Anacleto</td>
            <td>101337690</td>
            <td><a href="mailto:otavio.pereirabarbosa@georgebrown.ca" target="_blank">otavio.pereirabarbosa@georgebrown.ca</a></td>
        </tr>
        <tr>
            <td>Usana, Janine Mae</td>
            <td>101328279</td>
            <td><a href="mailto:janinemae.usana@georgebrown.ca" target="_blank">janinemae.usana@georgebrown.ca</a></td>
        </tr>
    </tbody>

</table>
