@{
    ViewData["Title"] = "About";
    
}


<h2>COMP2139 Assignment 1</h2>

<br />
<h4>Nabi, Omar - 101339235 </h4>
<h4>Pereira Barbosa, Otavio Anacleto - 101337690</h4>
<h4>Usana, Janine Mae - 101328279</h4>
