@{
    ViewData["Title"] = "About";
    
}


<h2>COMP2139 Assignment 1</h2>

<br />

<table class="table table-stripedd">
    <thead class="thead-light">
        <tr>
            <th>Name</th>
            <th>GBC ID</th>
            <th>GBC Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Nabi, Omar</td>
            <td>101339235</td>
            <td>omar.nabi@georgebrown.ca</td>
        </tr>
        <tr>
            <td>Pereira Barbosa, Otavio Anacleto</td>
            <td>101337690</td>
            <td>otavio.pereirabarbosa@georgebrown.ca</td>
        </tr>
        <tr>
            <td>Usana, Janine Mae</td>
            <td>101328279</td>
            <td>janinemae.usana@georgebrown.ca</td>
        </tr>
    </tbody>

</table>
