@model GBCSporting_OJO.Models.Technicians

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete - Technician</h1>

<div>
    <h4>Are you sure you want to delete this?</h4>
    <partial name= "_TechnicianForm" /> 
    <form asp-action="Delete">
        <input type="hidden" asp-for="TechnicianId" />
    </form>
</div>
