@model Comp2139_Assignment1.Models.Incident

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete - Incident</h1>

<div>
    <h4>Are you sure you want to delete this?</h4>
    <partial name= "_IncidentForm" /> 
    <form asp-action="Delete">
        <input type="hidden" asp-for="IncidentId" />
    </form>
</div>
